@use "../../../../common/styles/utils/index" as *;

.card {
    @include glass;
    width: 100%;
    padding: 60px 32px 60px 60px;
    width: 1240px;


    &__title {
        margin-bottom: 20px;
        text-decoration: 1px underline var(--accent);
        text-underline-offset: 8px;
    }

    &__flex {
        display: flex;
        gap: 48px;
    }

    &__text {
        flex: 0.7;
    }

    &__details {
        flex: 0.3;

        ul {

            margin-bottom: 30px;
            font-size: 14px;

            p {
                opacity: 0.7;
            }

            span {
                opacity: 1;
                font-size: 18px;
            }
        }
    }

    &__authors {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 224px;
        vertical-align: bottom;
        display: inline-block;
    }

    .showBtn {
        @include btn($width: 180px);
    }
}