.container {
    max-width: 1240px;
    margin: 0 auto;
}

.error__message {
    color: var(--accent);
    font-size: 14px;
    margin-top: 4px;
    display: block;
    width: 100%;
    text-align: center;
}

.error {
    border-color: var(--accent);

}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}